<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form action="{$smarty.const.__MODULE__}/Index/add" method="post" enctype="multipart/form-data">
            用户名：<input type="text" name="title"/><br>
                 
            邮箱:<input type="text" name="mail"/><br>
            <input type="submit" value="注册"/>
        </form>
    </body>
</html>
