<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>湖南泰宏电力发展有限公司</title>
<meta name="viewport" content="width=device-width;initial-scale=1.0" />
<meta name="Keywords" content="怀化电力设备销售,怀化高低压销售,怀化电线电缆销售,怀化高低压开关柜销售,怀化电力设备最好公司，" />
<meta name="Description" content="公司创建于2003年，注册资金 500万元。专业销售高低压电力设备、电线电缆、高低压开关柜、母线桥架、变压器等高低压电气元件。我们追求完美的品质，先进的技术，优质的服务，客户的满意是我们卓越的追求……" />
<script src="./Public/js/jquery1.42.min.js" type="text/javascript"></script>
<script src="./Public/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>

<link media="screen and (max-width:999px)" href="./Public/css/phone.css" rel="stylesheet" type="text/css" />
<link media="screen and (min-width:1000px)" href="./Public/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="container">
  <div id="header">
    <div class="w1000">
      <div class="logo"><img src="./Public/images/logo.png" alt="泰宏电力logo" /></div>
      <div class="menu">
        <ul>
          <li><a href="#">网站首页</a><span>HOME</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">关于泰宏</a><span>TAIHONG</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">新闻动态</a><span>NEWS</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">产品展示</a><span>PRODUCT</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">工程业绩</a><span>ENGINEERING</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">留言中心</a><span>MESSAGE</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">客户服务</a><span>CUSTOMER</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
          <li><a href="#">联系我们</a><span>CONTACT</span><span class="arrow"><img src="./Public/images/arrow.png" /></span></li>
        </ul>
      </div>
      <div class="cb"></div>
    </div>
  </div>
  <div class="cb"></div>
  <div id="banner">
    <div class="bd">
      <ul>
        <li class="pic1"><a target="_blank" href="http://www.superslide2.com"><img alt="banner" src="./Public/images/1.jpg" /></a></li>
        <li class="pic2"><a target="_blank" href="http://www.superslide2.com"><img alt="banner" src="./Public/images/2.jpg" /></a></li>
        <li class="pic3"><a target="_blank" href="http://www.superslide2.com"><img alt="banner" src="./Public/images/3.jpg" /></a></li>
        <li class="pic4"><a target="_blank" href="http://www.superslide2.com"><img alt="banner" src="./Public/images/4.jpg" /></a></li>
      </ul>
    </div>
    <div class="hd">
      <ul>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
		jQuery("#banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fold",  autoPlay:true, autoPage:true, trigger:"click" });
	</script>
  <div id="line-blue"></div>
  <div class="w1000 main">
    <div class="aboutus">
      <h2></h2>
      <p> <strong>湖南泰宏电力发展有限公司</strong>专业销售高低压电力设备、电线电缆、高低压开关柜、母线桥架、变压器等高低压电气元件。我们追求完美的品质，先进的技术，优质的服务，客户的满意是我们卓越的追求。 </p>
      <p> 公司创建于2003年，注册资金500万元。公司销售的电线电缆、高低压开关柜、母线桥架、变压器等电气产品…… </p>
    </div>
    <div class="news">
      <h2 class="news-title">
        <div class="hd">
          <ul>
            <li><a href="#"><img src="./Public/images/newtitle-1.jpg" alt="公司新闻" /></a></li>
            <li><a href="#"><img src="./Public/images/newtitle-2.jpg" alt="行业新闻" /></a></li>
          </ul>
        </div>
      </h2>
      <div class="cb"></div>
      <div class="news-content">
        <div class="bd">
          <ul>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">111柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">111柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">111柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">111柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">111柴油发电机水加热装置的介绍</a></li>
          </ul>
          <ul>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">222柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">222柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">222柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">222柴油发电机水加热装置的介绍</a></li>
            <li><span class="time">2014-05-27</span>▪&nbsp;<a href="#">222柴油发电机水加热装置的介绍</a></li>
          </ul>
        </div>
      </div>
      <script type="text/javascript">jQuery(".news").slide();</script> 
    </div>
    <div class="contactus">
      <div class="contactus-title"> <img src="./Public/images/contactus_title.png" alt="联系我们" /> </div>
      <h2></h2>
      <p> 电话：0745-2233378  18172381296梁先生<br />
        传真：0745-2246016<br />
        企业：LDGHHH@163.com<br />
        邮箱：1151902276@qq.com<br />
        地址：湖南怀化经济开发区天庆大厦1栋3号 </p>
    </div>
    <div class="cb h10"></div>
    <div class="product">
      <h2 class="product-title"></h2>
      <div class="product-content">
        <ul class="hd">
          <li class="prev arrow-lf"><img src="./Public/images/arrow-lf.jpg" alt="arrow-left" /></li>
          <li class="next arrow-rg"><img src="./Public/images/arrow-rg.jpg" alt="arrow-right" /></li>
        </ul>
        <div class="product-show">
          <div class="bd">
            <ul class="picList">
              <li><a href="#"><img src="./Public/images/product-1.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-2.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-3.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-4.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-5.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-1.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-2.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-3.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-4.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-5.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-1.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-2.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-3.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-4.jpg" alt="产品信息" /></a><br />
                产品信息</li>
              <li><a href="#"><img src="./Public/images/product-5.jpg" alt="产品信息" /></a><br />
                产品信息</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
	  jQuery(".product-content").slide({ titCell:".hd img",mainCell:".bd ul",effect:"left",autoPlay:true,vis:5,scroll:5,trigger:"click" });
	</script> 
  </div>
  <div class="cb h10"></div>
  <div id="footer">
    <p>湖南泰宏电力发展有限公司  版权所有     地址：湖南怀化经济开发区天庆大厦1栋3号     手机：13973085471  18172381296 梁先生</p>
    <p>备案号：湘ICP88888888 站长统计</p>
  </div>
</div>
</body>
</html>
